input[type="text"] {
    padding: 10px;
    margin-left: 25px;
    font-size: 100%;
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid gray;
}

input[type="button"] {
    background-color: #0d75ec;
    border: 0px;
    color: white;
    padding: 10px 30px;
    margin: 25px;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    font-size: large;
}

span {
    display: block;
    width: 90%;
    font-size: larger;
    height: 30px;
    margin: 10px;
    padding: 10px;
    background-color: #c4e0e3;
    border-radius: 5px;
    line-height: 1.6;
}

i {
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.task {
    background-color: #1d1b9f;
    color: white;
    font-size: small;
    padding: 10px;
    float: right;
}

.done {
    text-decoration: line-through 2px;
    opacity: 0.75;
}