<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="css/finish.css">
</head>

<body>
    <div>
        <span>Total Questions: <%=correct + wrong%> <br/></span>
        <span>Total Correct Answers: <%=correct%> <br/></span>
        <span>Total Wrong Answers: <%=wrong%> <br/></span>
    </div>
</body>

</html>