<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Quiz</title>
    <link rel="stylesheet" type="text/css" href="css/start.css">
</head>

<body>
    <form action="/page-1" method="post">
        <span>The Quiz contains <%=pages%> pages with each page consisting of <%=ques%> MCQs. Do you want to start the Quiz?<br /></span>
        <input type="submit" name="next" value="Start Quiz" />
    </form>
</body>

</html>