* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100vh;
    width: 100%;
    display: block;
}

#prev,
#next {
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    padding: 2.5vh;
    position: absolute;
    top: 50vh;
}

#prev:hover,
#next:hover {
    cursor: pointer;
    background-color: black;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

#nav {
    position: absolute;
    bottom: 0;
    left: 40%;
}

.dot {
    height: 2.5vh;
    width: 2.5vh;
    margin: 2.5vh;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}