body {
    background-color: #066acd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 10px;
    margin-top: 50px;
}

#AddButton {
    background-color: #0d75ec;
    border: 0px;
    color: white;
    padding: 10px 30px;
    margin: 25px;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    font-size: large;
}

#TextField {
    padding: 10px;
    margin-left: 25px;
    font-size: 100%;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid gray;
}

ul {
    font-size: large;
    list-style: none;
    padding: 0px;
}

li {
    height: 30px;
    margin: 10px;
    padding: 10px;
    background-color: #c4e0e3;
    border-radius: 5px;
    line-height: 1.6;
}

i {
    background-color: #1d1b9f;
    color: white;
    font-size: small;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}